annotated-types
anyio
click
dnspython
ecdsa
email-validator
fastapi
greenlet
h11
httptools
idna
multipart
passlib
pyasn1
pydantic
pydantic_core
python-dotenv
python-jose
python-multipart
PyYAML
rsa
six
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
psycopg2-binary
bcrypt
